<template>
  <div>
    <!-- Componente no visual -->
  </div>
</template>

<script>
export default {
  methods: {
    calcular(numero) {
      // Lógica de cálculo usando el número ingresado
      if (!Number.isInteger(numero)) {
        return "El número no es entero. Por favor, ingrese un número entero.";
      }

      // Lógica de cálculo usando el número ingresado
      return (
        -3 * this.esPrimo(numero) -
        this.fibonacci(numero) +
        5 * this.triangular(numero + 1)
      );
    },

    fibonacci(n) {
      if (n <= 0) {
        return 0;
      } else if (n === 1) {
        return 1;
      } else {
        let a = 0;
        let b = 1;
        let temp;

        for (let i = 2; i <= n; i++) {
          temp = a + b;
          a = b;
          b = temp;
        }

        return b;
      }
    },

    esPrimo(numero) {
      if (numero < 2) return false;
      for (let i = 2; i <= Math.sqrt(numero); i++) {
        if (numero % i === 0) return false;
      }
      return true;
    },

    enesimoPrimo(n) {
      if (n === 1) return 2; // 2 es el primer número primo
      let contador = 1; // Ya contamos el 2 como el primer número primo
      let numero = 3; // Empezamos a buscar desde el número 3

      while (contador < n) {
        if (this.esPrimo(numero)) {
          contador++;
          if (contador === n) return numero;
        }
        numero += 2; // Solo comprobamos los números impares, ya que los pares (excepto el 2) no son primos
      }
    },

    triangular(n) {
      if (n < 1 || !Number.isInteger(n)) {
        return "El argumento debe ser un número entero positivo";
      }
      return (n * (n + 1)) / 2;
    },
  },
};
</script>
