
<template>
  <v-container class="pt-md-5 mx-lg-auto">
    <v-row>
      <v-sheet width="500" class="mx-auto">

        <v-card-title>
            <h1 class="red--text">Prueba técnica</h1>
        </v-card-title>

        <v-form @submit.prevent="enviar">
          <v-text-field
            type="number"
            id="numero"
            v-model="numero"
            label="Ingrese un número entero"
          ></v-text-field>
          <v-btn type="submit" block class="mt-2 blue white--text">Calcular</v-btn>
        </v-form>

        <calculadora ref="calculadora"></calculadora>
        <resultado :resultado="resultado"></resultado>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script>
import Calculadora from "./Calculadora.vue";
import Resultado from "./Resultado.vue"; // Importar el componente Resultado.vue

export default {
  components: {
    Calculadora,
    Resultado, // Registrar el componente Resultado.vue
  },
  data() {
    return {
      numero: null,
      resultado: null, // Inicializamos variables en null
    };
  },
  methods: {
    enviar() {
      // Obtener el número ingresado y llamar al método calcular() del componente Calculadora.vue
      const numero = parseFloat(this.numero);
      const resultado = this.$refs.calculadora.calcular(numero);
      console.log(resultado);

      // Asignar el resultado para mostrarlo en el componente Resultado.vue
      this.resultado = resultado;
    },
  },
};
</script>
