<template>
  <div>
    <!-- Mostrar el resultado aquí -->
    <p class="mt-5">El resultado es: <strong class="red--text">{{ resultado }}</strong></p>
  </div>
</template>

<script>
export default {
  props: {
    resultado: Number, // Propiedad para recibir el resultado desde Formulario.vue
  },
};
</script>
